choice
	prompt "BOARD type"
	depends on BOARD_NEWTON
	default BOARD_NEWTON2_V20


config BOARD_NEWTON2_V20
       bool "board newton2 v20"
       depends on BOARD_NEWTON

endchoice

config BOARD_NAME
	string
	default "newton2_v20" if BOARD_NEWTON2_V20


